.field_set {
    border-color: rgba(0, 0, 0, .12);
    border-style: solid;
}

.stretch {
    width: 100%;
    height: 100%;
}

.pb-4 {
    margin-bottom: 4%;
}

.icon-text {
    display: flex;
    align-items: center;
}

.pt-2 {
    margin-top: 3%;
}

#gridcontainer {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #D6DBDF;
    flex-direction: column;
    margin: 10px;
    overflow: inherit;
    position: relative;
}

#task-grid-panel {
    width: 100%;
    height: 90%;
    margin: 0px;
    overflow: scroll;
    background-color: red;
    padding: 0px;
}

.doneCls {
    color: green;
}

.notDoneCls {
    color: red;
}