<h1 mat-dialog-title>Create New Task</h1>
<div mat-dialog-content>

    <mat-form-field appearance="fill">
        <mat-label>Task content</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>



    <!-- Copyright 2020 Google LLC. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->
    <mat-checkbox>Completed</mat-checkbox>



</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial (click)="onOKClick()">Ok</button>
</div>