@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

.full-height {
    height: 100%;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #D6DBDF;
    flex-direction: row;
    margin: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#tast-list-panel {
    width: 100%;
    height: 90%;
    margin: 10px;
    background-color: lightgray;
    padding: 0px;
}

#task-list {
    width: 100%;
    height: 90%;
    position: relative;
    right: 0;
    top: 0;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background-color: #f6f6f6;
    overflow-y: scroll;
}

#task-list-header {
    width: 100%;
    margin-bottom: 0px;
    background-color: #D03D73;
    color: white;
}

#task-card {
    border: 0px solid #888888;
    margin: 10px 10px 0px 10px;
    box-shadow: 2px 2px 5px #888888;
}

.complete-color {
    color: green;
}

.incomplete-color {
    color: red;
}

.creator-color {
    color: #5F6A6A
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}